<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/CAFETERIAWEBDB?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="MODELO/DetalleCita.hbm.xml"/>
    <mapping resource="MODELO/Medico.hbm.xml"/>
    <mapping resource="MODELO/TipoUsuario.hbm.xml"/>
    <mapping resource="MODELO/Receta.hbm.xml"/>
    <mapping resource="MODELO/Paciente.hbm.xml"/>
    <mapping resource="MODELO/Vendedor.hbm.xml"/>
    <mapping resource="MODELO/DetalleHistorial.hbm.xml"/>
    <mapping resource="MODELO/Especialidad.hbm.xml"/>
    <mapping resource="MODELO/Producto.hbm.xml"/>
    <mapping resource="MODELO/Hora.hbm.xml"/>
    <mapping resource="MODELO/HorarioMedico.hbm.xml"/>
    <mapping resource="MODELO/HistorialPaciente.hbm.xml"/>
    <mapping resource="MODELO/Cita.hbm.xml"/>
    <mapping resource="MODELO/Turno.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
